@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/HelveticaNeue.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: Helvetica Neue, Open Sans, Roboto, Arial, sans-serif;
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
body {
  min-height: 100vh;
  background: linear-gradient(-45deg, rgba(34, 101, 119, 0.4), rgba(90, 64, 73, 0.38), rgba(1, 39, 56, 0.7), rgba(241, 243, 244, 0.7));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
  color: white;
  text-align: center;
}
li {
  display: block;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-left: 0;
}
.main {
  min-height: 100%;
}
.wrapper {
  padding: 2.5%;
}
.baseline-container > h2.baseline {
  font-size: 100%;
  font-weight: 100;
}
.logo-container > h1.trancepalace {
  display: none;
}
.logo-container > a > img.logo {
  width: 960px;
  max-width: 100%;
}
.infos-container > div.dateandplace-container > h2.dateandplace {
  font-size: 100%;
  padding: 0.25em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.infos-container > div.lineup-container > p.order {
  color: #1D556D;
  font-weight: 800;
  font-size: 65%;
}
.infos-container > div.lineup-container > ul.lineup-list > li.lineup-element {
  padding: 5.5px;
}
.infos-container > div.lineup-container > ul.lineup-list > li.lineup-element > h3.artist {
  text-transform: uppercase;
  font-size: 65%;
}
.infos-container > div.lineup-container > ul.lineup-list > li.lineup-element > h3.artist > span.nationality {
  color: #1D556D;
}
.infos-container > div.lineup-container > ul.lineup-list > li.lineup-element > h3.artist > span.introduce {
  text-transform: lowercase;
  color: #efefefef;
}
.infos-container > div.lineup-container > ul.logosartist-list > li.logosartist-element {
  padding: 2.5%;
}
.infos-container > div.lineup-container > ul.logosartist-list > li.logosartist-element > img.logo {
  max-width: 120px;
  width: 100%;
}
.ticketerie-container > div.ticketseller-container {
  min-width: 150px;
  margin: 1em;
}
.ticketerie-container > div.ticketseller-container > img.logo {
  max-height: 30px;
}
.ticketerie-container > div.ticketseller-container > a.button {
  height: 40px;
  width: 100%;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 1em 0.5em 0.5em;
  font-weight: 800;
}
.ticketerie-container > div.ticketseller-container > a.button.-fnac {
  background-color: #E0A824;
}
.ticketerie-container > div.ticketseller-container > a.button.-ticketmaster {
  background-color: #009CDE;
}
.socials-container > div.social-container {
  min-width: 150px;
  margin: 1em;
}
.socials-container > div.social-container > img.logo {
  max-height: 30px;
}
.socials-container > div.social-container > a.button {
  height: 40px;
  width: 100%;
  padding: 0em 0.5em;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin: 1em 0.5em 0.5em;
  font-weight: 800;
}
.socials-container > div.social-container > a.button.-facebook {
  background-color: #4267b2;
}
.socials-container > div.social-container > a.button.-instagram {
  background: linear-gradient(45DEG, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}
.copyright-container > p.copyright {
  max-width: 240px;
  color: lightgray;
}
.copyright-container > p.copyright > a {
  color: white;
}
._flex {
  display: flex;
  flex-direction: row;
}
._flex.-inlineflex {
  display: inline-flex;
}
._flex.-column {
  flex-flow: column;
}
._flex.-wrap {
  flex-wrap: wrap;
}
._flex.-start {
  justify-content: flex-start !important;
}
._flex.-end {
  justify-content: flex-end !important;
}
._flex.-spacebetween {
  justify-content: space-between !important;
}
._flex.-spacearound {
  justify-content: space-around !important;
}
._flex.-center.-h {
  justify-content: center !important;
}
._flex.-center.-v {
  align-items: center !important;
}
